html {
  font-size: 62.5%;
}

section {
  display: inline;
}

.horizontal {  
  width: 100%;
}

.horizontal .item {
  display: inline-block;
}

.vertical {  
  height: 100%;
}
.vertical .item {
  display: block;
}

.item {
  width:7rem;
  height:7rem;
  white-space: none;
}
  .item:first-child {
    background-color: rgb(0, 20, 0);
  }
  .item:nth-child(2) {
    background-color: rgb(20, 20, 20);
  }
  .item:nth-child(3) {
    background-color: rgb(40, 20, 40);
  }
  .item:nth-child(4) {
    background-color: rgb(60, 20, 60);
  }
  .item:nth-child(5) {
    background-color: rgb(120, 20, 120);
  }
  .item:nth-child(6) {
    background-color: rgb(240, 20, 240);
  }
